<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/egg_statistic</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123</property>
        <property name="hibernate.connection.pool_size">1</property>

        <property name="hibernate.transaction.coordinator_class">jdbc</property>

        <property name="hibernate.packagesToScan">org.statistic.eggs.core.entity</property>

        <!-- <property name="hibernate.autocommit">true</property> -->

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="org.statistic.eggs.core.entity.Counter"/>
        <mapping class="org.statistic.eggs.core.entity.FeedComponent"/>
        <mapping class="org.statistic.eggs.core.entity.FeedComposition"/>
        <mapping class="org.statistic.eggs.core.entity.Vitamin"/>
        <mapping class="org.statistic.eggs.core.entity.Settings"/>
        <mapping class="org.statistic.eggs.core.entity.WeatherSettings"/>


    </session-factory>
</hibernate-configuration>
